<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dungeon Crawler</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="/public/css/boostrap.min.css">
    <link rel="stylesheet" href="/public/css/main.min.css">
    <link rel="stylesheet" href="/public/css/jquery-ui.min.css">
</head>

<body>
    <nav class="navbar navbar-inv game-tray"></nav>
    <div id="drag-container" class="container">
        <div class="card battle-grid">
        
        </div>
    </div>
        



    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script src="/public/js/bootstrap-4-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.runtime.min.js"></script>
    <script src="/public/js/dist/d100-lib.js"></script>
</body>

</html>
