<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dungeon Crawler</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="/public/css/boostrap.min.css">
    <link rel="stylesheet" href="/public/css/main.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-light"></nav>

    <header class="page-header text-center">
        <div class="row"> 
            <div class="col-sm-12 header">
                <h1>Dungeon Crawler</h1>
            </div>
        </div>
    </header>

    <main class="panel panel-default container">
        {{{body}}}
    </main>

    <footer class="page-footer font-small">
        <div class="footer-copyright py-3 text-center">&copy; Christian Tejada - Philip Vitale - Kevin Poli</div>
    </footer>

    <script src="/public/js/bootstrap-4-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.runtime.min.js"></script>
    <script src="/public/templates/cardtemplate.js"></script>
    <script src="/public/js/index.js"></script>
    <script src="/public/js/addField.js"></script>
</body>

</html>
