<div class="container">
    <div class="col-sm-12">
        <h1>Campaign Select</h1>
        {{#if message}}
        {{#each message}}
            <div class="alert alert-danger">{{this}}</div>
        {{/each}}
        {{/if}}

        <form action="/campaign" method="get">
            <div class="form-group">
                <input type="text" class="form-control" name="campaignId" placeholder="Enter campaign ID here...">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Join Campaign</button>
        </form>

        <ul id="existingCampaigns">
            {{#each user.campaigns}}
                <li>{{this}}</li>
            {{/each}}
        </ul>

        <p>or</p>

        <h1>Create Campaign</h1>
        <form action="/campaign" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="campaignName" placeholder="Enter name for new campaign here...">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Create Campaign</button>
        </form>
        <p><a href="/logout" class="btn btn-default btn-lg">Logout</a></p>
    </div>
</div>
