<!DOCTYPE html>
<div class="container">
    <div class="col-sm-12">
        <h1>Campaign Select</h1>
        {{#if message}}
        {{#each message}}
            <div class="alert alert-danger">{{this}}</div>
        {{/each}}
        {{/if}}

        <form action="/character" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="att1" id="att1"  placeholder="Attribute Name">
            </div>
            <button type="button" onclick="addField()" class="btn btn-warning btn-lg">Add</button>
            <button type="submit" class="btn btn-warning btn-lg">Create Character Template</button>
        </form>
    </div>
</div>
