<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Welcome {{user.local.email}}</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
</div>

<div class="container-fluid">
    <div class="card bg-faded">
        <div class="card-header">
            Character
        </div>
        <div class="card-block bg-faded display-profile">
            <i class="ra ra-helmet ra-5x"> </i>
            <div class="display-bio">
                <h1 class="entry-header"> Jaxson Pollock </h1>
                <hr class="separator" />
                <h4 class="foot-info"> <span class="lvl"> Level 3 |</span> Alchemist </h4>
                <ul class="tracked-stats list-group row">
                    <li class="list-group-item col-xs color-inv"> <span class="tracked-stat"> str :</span> <span class="stat-val"> 6 </span></li>
                    <li class="list-group-item col-xs color-inv"> <span class="tracked-stat"> dex :</span> <span class="stat-val"> 9 </span></li>
                    <li class="list-group-item col-xs"> <span class="tracked-stat"> Acrobatics :</span> <span class="stat-val">4</span></li>
                    <li class="list-group-item col-xs"> <span class="tracked-stat"> Craft [Alchemy] :</span> <span class="stat-val"> 2 </span> </li>
                    <li class="list-group-item col-xs"> <span class="tracked-stat"> Knowledge [Nature] :</span><span class="stat-val"> 0 </span></li>
                    <li class="list-group-item col-xs"> <span class="tracked-stat"> Knowledge [Local] :</span><span class="stat-val"> 0 </span></li>
                    <li class="list-group-item col-xs"> <span class="tracked-stat"> Knowledge [Geography] :</span><span class="stat-val"> 0 </span></li>
                    <li class="list-group-item col-xs"> <span class="tracked-stat"> Sailing :</span> <span class="stat-val">0 </span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card bg-faded">
        <div class="card-header">
            Inventory
        </div>
        <div class="card-block tracked-inv row">
            <div class="col-6">
                <ul class="tracked-items list-group">
                    <li class="list-group-item col-xs color-inv"><i class="ra ra-sword item-i"> </i> <span class="item-name">Sword of Destiny</span> <span class="stat-val"> 6 </span></li>
                    <li class="list-group-item col-xs color-inv"><i class="ra ra-sword item-i"> </i> <span class="item-name">Sword of Destiny</span> <span class="stat-val"> 6 </span></li>
                    <li class="list-group-item col-xs color-inv active"><i class="ra ra-sword item-i"> </i> <span class="item-name">Sword of Destiny</span> <span class="stat-val"> 6 </span></li>
                    <li class="list-group-item col-xs color-inv"><i class="ra ra-sword item-i"> </i> <span class="item-name">Sword of Destiny</span> <span class="stat-val"> 6 </span></li>
                </ul>
            </div>
            <div class="col-6">
                <div class="card-block bg-faded display-profile profile-item">
                    <i class="ra ra-sword ra-5x"> </i>
                    <div class="display-bio">
                        <h1 class="entry-header"> Sword of Destiny </h1>
                        <hr class="separator" />
                        <h4 class="foot-info"> <span class="badge badge-dark"> 1 x d8 </span> Witcher's Silver Sword </h4>
                        <hr class="separator" />
                        <p class="desc">
                            A sturdy blade of Temerian silver; a favourite of a particularly notorious monster hunter. It's unique materials provide
                            it excellent potential when defending against monsters.
                        </p>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                      Trade To
                                  </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Geralt</a>
                                <a class="dropdown-item" href="#">John Wick</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card battle-grid">
        <div class="card battle-grid-item">
            <div class="card-header battle-grid-header active">
                Grax The Destroyer
            </div>
            <div class="card-block">
                <!-- switch to 3x icons for cards with a badge and 4x for cards with no badge -->
                <i class="ra ra-muscle-up ra-3x"> </i>
                <span class="badge badge-danger"> Near-Death </span>
                <span class="badge badge-success turn-indicator">o</span>
            </div>
        </div>
        <div class="card battle-grid-item">
            <div class="card-header battle-grid-header active">
                Jaxson Pollock
            </div>
            <div class="card-block">

                <i class="ra ra-hood ra-3x"> </i>
                <span class="badge badge-warning"> Injured </span>
            </div>
        </div>
        <div class="card battle-grid-item">
            <div class="card-header battle-grid-header active">
                Enialus Naileo
            </div>
            <div class="card-block">
                <i class="ra ra-aware ra-4x"> </i>
            </div>
        </div>
    </div>
    <div class="card bg-faded">
        <div class="card-header">
            Dungeon Master
        </div>
        <div class="card-block tracked-inv row">
            <div class="col-6">
                <ul class="tracked-items list-group">
                    <li class="list-group-item col-xs color-inv"><i class="ra ra-helmet item-i"> </i> <span class="item-name">John Wick</span> <span class="stat-val"> 6 </span></li>
                    <li class="list-group-item col-xs color-inv"><i class="ra ra-hood item-i"> </i> <span class="item-name">Geralt of Rivia</span> <span class="stat-val"> 6 </span></li>
                    <li class="list-group-item col-xs color-inv active"><i class="ra ra-aware item-i"> </i> <span class="item-name">Batman</span> <span class="stat-val"> 6 </span></li>
                    <li class="list-group-item col-xs color-inv"><i class="ra ra-muscle-up item-i"> </i> <span class="item-name">Your Mother</span> <span class="stat-val"> 6 </span></li>
                </ul>
            </div>
            <div class="col-6">
                <div class="card-block bg-faded display-profile">
                    <i class="ra ra-helmet ra-5x"> </i>
                    <div class="display-bio">
                        <h1 class="entry-header"> Jaxson Pollock </h1>
                        <hr class="separator" />
                        <h4 class="foot-info">
                            <span class="lvl"> Level 3 |</span> Alchemist
                            <button id="btnGroupDrop1" type="button" class="btn btn-transparent">
                                      + Level
                                </button>
                            <button id="btnGroupDrop1" type="button" class="btn btn-transparent">
                                      - Level
                                </button>
                        </h4>

                        <div class="row dm-char-control">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary">
                                      Toggle Visibility
                                </button>
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary">
                                      Toggle Turn
                                </button>
                            <button id="btnGroupDrop1" type="button" class="btn btn-success">
                                      Toggle Injury Status
                                </button>
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary">
                                      Inventory
                                </button>
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary">
                                      Delete
                                </button>

                        </div>


                    </div>
                    <ul class="tracked-stats list-group row">
                        <li class="list-group-item col-xs color-inv"> <span class="tracked-stat"> str :</span> <span class="stat-val"> 6 </span></li>
                        <li class="list-group-item col-xs color-inv"> <span class="tracked-stat"> dex :</span> <span class="stat-val"> 9 </span></li>
                        <li class="list-group-item col-xs"> <span class="tracked-stat"> Acrobatics :</span> <span class="stat-val">4</span></li>
                        <li class="list-group-item col-xs"> <span class="tracked-stat"> Craft [Alchemy] :</span> <span class="stat-val"> 2 </span> </li>
                        <li class="list-group-item col-xs"> <span class="tracked-stat"> Knowledge [Nature] :</span><span class="stat-val"> 0 </span></li>
                        <li class="list-group-item col-xs"> <span class="tracked-stat"> Knowledge [Local] :</span><span class="stat-val"> 0 </span></li>
                        <li class="list-group-item col-xs"> <span class="tracked-stat"> Knowledge [Geography] :</span><span class="stat-val"> 0 </span></li>
                        <li class="list-group-item col-xs"> <span class="tracked-stat"> Sailing :</span> <span class="stat-val">0 </span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rollModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Stat Roll</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body roll-modal-body">
                    <i class="ra ra-perspective-dice-random ra-5x"> </i>
                    <div class="row roll-breakdown">
                        <div class="roll-bd-item input-group-prepend col-2"> STR </div>
                        <div class="roll-bd-item bg-faded col-4"> Base <span class="lvl"> 8 </span> </div>
                        <div class="roll-bd-item bg-faded col-1"><span class="lvl"> + </span> </div>
                        <div class="roll-bd-item bg-faded col-4"> Rolled <span class="lvl"> 20 </span> </div>
                        <div class="roll-bd-item input-group-prepend append color-inv col-1 col-1 "><span class="lvl "> = 20 </span> </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <span class="badge badge-success "> CRIT </span>
                    <button type="button " class="btn btn-primary ">Roll</button>
                    <button type="button " class="btn btn-secondary " data-dismiss="modal ">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button " class="btn btn-primary " data-toggle="modal " data-target="#rollModal ">
            Launch demo modal
            </button>

</div>